.header-box{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: antiquewhite;
}
.nav-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}
.nav-buttons{
  gap: 10px;
}